@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor0:#c5ebd6
    --cor1:#63e1ad
    --cor2:#3ddc84
    --cor3:#2fa866
    --cor4:#1a5c37
    --cor5:#063d1e
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #ceeada;
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\1F517';
}


header{
    background-image: linear-gradient(to bottom, #2fa866, #063d1e );
    min-height: 150px;
    text-align: center;
    padding-top: 30px;
}
header > h1{
    color:white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.415);
}
header > p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    max-width: 500px;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.211);
}

nav{
    background-color:#063d1e ;
    padding: 10px;
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.348);
}

nav > a{
    color:white;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: #2fa866 ;
    color: #063d1e;
    border-radius: 5px;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.405);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}

main h1{
    color: #063d1e;
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonte-android);
    color: #0c6633;
    font-size: 1.3em;
    font-weight: normal;
    background-image: linear-gradient(to right, #c5ebd6, transparent);
    text-indent: 8px;
}

main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}

div.video{
    background-color: #063d1e;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 65.5%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

main p{
    margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong{
    color:#1a5c37 ;
    font-weight: bold;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color:#063d1e;
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: #23804d;
    transition-duration: .5s;
    background-color:#63e1ac65;
    border-radius: 5px;
}

aside{
    background-color: #c5ebd6;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.285);
}

aside > h3{
    background-color: #1a5c37;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;
}

footer{
    background-color: #063d1e;
    color:white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a::acti{
    text-decoration: underline;
    color: #c5ebd6;
}