@charset "UTF-8";
body{
    background-color: bisque;
}
li{
    color: brown;
}
h2{
    color: rgb(255, 192, 1);
}
dt{
    text-align: center;
    color: blue;
}
dd{
    text-align: center;
    color: black;
}
.favlanguage{
    text-align: right;
}